<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= divId %>">
          Award Amount
          </span>
      </h2>
    </div>
    <div id="accordion-default-content-<%= divId %>" class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-<%= divId %>">
      <div class="govuk-form-group">
        <div class="govuk-form-group govuk-grid-row">
          <div class="govuk-grid-column-one-half"> <!-- From Column Start -->
            <label class="govuk-label" for="amount-from" id="amountFromLabel">
              From
            </label>
            <div class="govuk-hint">
              For example, £1000000
            </div>
            <div class="govuk-date-input" id="amount-from">
              <div class="govuk-form-group">
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-!-width-two-thirds" id="filter-award-amount-from" name="amount-from" type="number" min="0" step=".01" placeholder="From" value="<%= filters.amountFrom %>">
                </div>
              </div>
            </div>
          </div> <!-- From Column End -->

          <div class="govuk-grid-column-one-half"> <!-- To Column Start -->
            <label class="govuk-label" for="address-line-1" id="amountToLabel">
              To
            </label>
            <div class="govuk-hint">
                For example, £2000000
            </div>
            <div class="govuk-date-input" id="amount-to">
              <div class="govuk-form-group">
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-!-width-two-thirds" id="filter-award-amount-to" name="amount-to" type="number" min="0" step=".01" placeholder="To" value="<%= filters.amountTo %>">
                </div>
              </div>
          </div> <!-- To Column End -->
        </div>
      </div>
    </div>
  </div>
</div>