<%
const locations = [
  "UK-wide",
  "GB-wide",
  "England",
  "Northern Ireland",
  "Scotland",
  "Wales",
  "East Midlands",
  "East of England",
  "London",
  "North East",
  "North West",
  "South East",
  "South West",
  "West Midlands",
  "Yorkshire and Humber"
];

const selectedLocation = (filters.geoLocation + "").toLowerCase();
%>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="geoLocation-checkbox">
    Geographical location
  </label>

  <div class="govuk-checkboxes govuk-checkboxes--small filter-scroll-box" id="geoLocation-checkbox">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="selectAll" type="checkbox">
      <label class="govuk-label govuk-checkboxes__label" for="selectAll">
        Select all
      </label>
    </div>

    <% locations.forEach(location => { %>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input geo-checkbox"  id="<%= location %>" name="geoLocation" type="checkbox" value="<%= location %>"
          <%= selectedLocation === location.toLowerCase() ? "checked" : "" %>
        >

        <label class="govuk-label govuk-checkboxes__label" for="<%= location %>">
          <%= location %>
        </label>
      </div>
    <% }) %>
  </div>
</div>

<script>
  document.getElementById('selectAll').addEventListener('change', function () {
    document.querySelectorAll('.geo-checkbox').forEach(checkbox => {
      checkbox.checked = this.checked;
    });
  });
</script>