<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= divId %>">
          Status
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-<%= divId %>" class="govuk-accordion__section-content"
    aria-labelledby="accordion-default-heading-<%= divId %>">
    <div class="govuk-form-group">
      <select class="govuk-select" id="filter-status" name="status"
      aria-labelledby="accordion-default-heading-<%= divId %>">
        <option value=""></option>
        <% ["Published","Deleted"].forEach(function(status){ %>
          <% if ((filters.status + "").toLowerCase() == status.toLowerCase()) { %>
            <option value="<%= status %>" selected> <%= status %></option>
          <% }else{ %>
            <option value="<%= status %>"> <%= status %> </option>
          <% } %>
        <% })%>
      </select>
    </div>
  </div>
</div>