
<%
    const awardTypes = [
    "Standalone award",
    "Award under a scheme"
    ];

    const awardTypesArray = Array.isArray(filters.awardType) ? filters.awardType.map(l => l.toLowerCase()) : [(filters.awardType || "").toLowerCase()];
    // const allSelected = locations.every(location => geoLocations.includes(location.toLowerCase()));
%>

<div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="awardType-checkbox">
        Award type
    </label>

    <div class="govuk-checkboxes govuk-checkboxes--small filter-scroll-box" id="awardType-checkbox">
 
        <% awardTypes.forEach(awardType => { %>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input awardType-checkbox"  id="<%=awardType%>" name="awardType" type="checkbox" value="<%=awardType%>"
                <%= awardTypesArray.includes(awardType.toLowerCase()) ? "checked" : "" %>
                >

                <label class="govuk-label govuk-checkboxes__label" for="<%=awardType%>">
                <%=awardType%>
                </label>
            </div>
        <% }) %>
    </div>
</div>