<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= divId %>">
          SPEI Assistance
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-<%= divId %>" class="govuk-accordion__section-content"
    aria-labelledby="accordion-default-heading-<%= divId %>">
    <div class="govuk-form-group">
      <select class="govuk-select" id="filter-speia" name="speia"
      aria-label="Drop down list that shows Filter by type">
        <option value=""></option>
        <% ["No","Yes"].forEach(function(speia){ %>
          <% if ((filters.speia + "").toLowerCase() == speia.toLowerCase()) { %>
            <option value="<%= speia %>" selected> <%= speia %></option>
          <% }else{ %>
            <option value="<%= speia %>"> <%= speia %> </option>
          <% } %>
        <% })%>
      </select>
    </div>
  </div>
</div>