  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= divId %>">
          Confirmation Date
          </span>
      </h2>
    </div>
    <div id="accordion-default-content-<%= divId %>" class="govuk-accordion__section-content"
      aria-labelledby="accordion-default-heading-<%= divId %>" role="group">
      <div class="govuk-form-group">
          <div class="govuk-form-group govuk-grid-row">
            <div class="govuk-grid-column-one-half"> <!-- From Column Start -->
              <label class="govuk-label" for="address-line-1" id="confirmationDateFromLabel">
              From
              </label>
              <div class="govuk-hint">
                  For example, 01 03 2020
              </div>
              <div class="govuk-date-input" id="scheme-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="filter-confirmation-day-from">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="filter-confirmation-day-from" name="confirmation-day-from" type="text" placeholder="DD" maxlength="2" pattern="(3[01]|[12][0-9]|0[1-9])" inputmode="numeric" value="<%= filters.confirmationFromDay %>">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="filter-confirmation-month-from">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="filter-confirmation-month-from" value="<%= filters.confirmationFromMonth %>" name="confirmation-month-from" placeholder="MM" type="text" maxlength="2" pattern="(1[0-2]|0[1-9])" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="filter-confirmation-year-from">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="filter-confirmation-year-from" name="confirmation-year-from" type="text" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" value="<%= filters.confirmationFromYear %>" placeholder="YYYY">
                    </div>
                  </div>
              </div>
            </div> <!-- From Column End -->

            <div class="govuk-grid-column-one-half"> <!-- To Column Start -->
              <label class="govuk-label" for="address-line-1" id="confirmationDateToLabel">
              To
              </label>
              <div class="govuk-hint">
                  For example, 31 03 2020
              </div>
              <div class="govuk-date-input" id="scheme-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="filter-confirmation-day-to">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="filter-confirmation-day-to" name="confirmation-day-to" type="text" placeholder="DD" maxlength="2" pattern="(3[01]|[12][0-9]|0[1-9])" inputmode="numeric" value="<%= filters.confirmationToDay %>">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="filter-confirmation-month-to">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="filter-confirmation-month-to" value="<%= filters.confirmationToMonth %>" name="confirmation-month-to" placeholder="MM" type="text" maxlength="2" pattern="(1[0-2]|0[1-9])" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="filter-confirmation-year-to">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="filter-confirmation-year-to" name="confirmation-year-to" type="text" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" value="<%= filters.confirmationToYear %>" placeholder="YYYY">
                    </div>
                  </div>
              </div>
            </div> <!-- To Column End -->

          </div>
      </div>
    </div>
  </div>