<!doctype html>
<html lang="en" class="govuk-template ">

<head>
  <title>GOV.UK - Public user search beneficiary name page</title>
  <%- include('../partials/headercss.ejs') %>
</head>

<!--**************************************************
Gov.UK public user search - header rendering design 
**************************************************** -->


<body class="govuk-template__body app-example-page">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <%- include('../partials/cookies-consent.ejs') %>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container ">
    <%- include('../partials/banner.ejs') %>
    <main id="main-content" role="main">
      <form action="/subsidyobjective" method="POST" class="govuk-main-wrapper ">

        <!--***********************************************************
               Gov.UK public user search - Breadcrumbs HTML rendering design 
               *********************************************************** -->



        <!--************************************
               Gov.UK public user search - Body design 
               ************************************ -->


        <div class="govuk-form-group">
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                The search results in this service will only show the recipients of subsidy awards made under schemes. Use this link to
                <a class="govuk-notification-banner__link" href="/standaloneawards?">view all standalone subsidy awards</a>.
              </p>
            </div>
          </div>
          <fieldset class="govuk-fieldset" aria-describedby="beneficiary_name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-grid-column-two-thirds">
              <h1 class="govuk-fieldset__heading">
                Are you searching for a specific subsidy recipient? <span class="govuk-hint">(optional)</span>
              </h1>
            </legend>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <p id="beneficiary_name-hint" class="govuk-body">
                  The recipient is the business that received the subsidy
                </p>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="beneficiary_name_radio_button" name="beneficiaryname"
                      type="radio" value="Yes" data-aria-controls="conditional-beneficiaryname"
                      <% if (radio_beneficiaryname == "Yes") { %> checked <% } %>>
                    <label class="govuk-label govuk-radios__label" for="beneficiary_name_radio_button">
                      Yes
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                    id="conditional-beneficiaryname">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="Beneficiary_name_text">
                        Enter business name
                      </label>
                      <% if (text_beneficiaryname) { %> %>
                      <input class="govuk-input govuk-!-width-one-half" id="Beneficiary_name_text"
                        name="Beneficiary_name" type="text" spellcheck="false" value="<%= text_beneficiaryname %>">
                      <% } else { %>
                      <input class="govuk-input govuk-!-width-one-half" id="Beneficiary_name_text"
                        name="Beneficiary_name" type="text" spellcheck="false">
                      <% }  %>

                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="beneficiaryname-2" name="beneficiaryname" type="radio"
                      value="No" data-aria-controls="conditional-beneficiaryname-2"
                      <% if (radio_beneficiaryname == "No") { %> checked <% } %>>
                    <label class="govuk-label govuk-radios__label" for="beneficiaryname-2">
                      No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue </button>
      </form>
    </main>
  </div>

  <!--************************************************
Gov.UK public user search - Footer rendering design 
************************************************ -->

  <%- include('../partials/footer.ejs') %>

  <script type="text/javascript" src="/assets/javascripts/example.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
  <script type="text/javascript" src="/assets/javascripts/govuk-frontend-radio.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
</body>

</html>