<!doctype html>
<html lang="en" class="govuk-template ">

<head>
  <title>GOV.UK - Public user filter search page</title>
  <%- include('../partials/headercss.ejs') %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-145652997-21');
  </script>
</head>

<!--**************************************************
Gov.UK public user search - header rendering design 
**************************************************** -->
<link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
<script type="text/javascript" src="/assets/javascripts/script.js" defer></script>
<link href="/assets/stylesheet/govuk-accordion1.css" rel="stylesheet" media="all" />
<script src="/assets/javascripts/vendor/modernizr.js"></script>
<script src="/assets/javascripts/jquery.min.js"></script>
<script src="/assets/javascripts/alasql.min.js"></script>
<script src="/assets/javascripts/xlsx.core.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript" language="javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script> -->

<script>

  $(document).ready(function () {
    //****************************************************
    // checkbox select all scripts for subsidy objective
    //****************************************************

    if (($('#subsidyobjective-7').is(":checked")) && ($('#subsidyobjective-0').is(":checked"))) {
      $('.govuk-input-subsidyobjective').val('').hide();
      $('.govuk-label-subsidyobjective').hide();
    }

    else if ($('#subsidyobjective-11').is(":checked")) {
      $('.govuk-input-subsidyobjective').show();
      $('.govuk-label-subsidyobjective').show();
    }

    else {
      $('.govuk-input-subsidyobjective').hide();
      $('.govuk-label-subsidyobjective').hide();

    }

    $("#subsidyobjective-0").on('change', function () {  //"select all" change 
      $(".govuk-checkboxes__input_subsidyobjective").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
      if ($('#subsidyobjective-0').is(":checked")) {

        $('.govuk-input-subsidyobjective').val('').hide();
        $('.govuk-label-subsidyobjective').hide();
      }

    });//"select all" close

    //".checkbox" change 

    $(document).on('change', '#subsidyobjective-11', function () {
      if ($('#subsidyobjective-0').is(":checked")) {
        $('.govuk-input-subsidyobjective').val('');
        $('.govuk-input-subsidyobjective').hide();
        $('.govuk-label-subsidyobjective').hide();
      }

      else if ($('#subsidyobjective-11').is(":checked")) {
        $('.govuk-input-subsidyobjective').val('');
        $('.govuk-input-subsidyobjective').show();
        $('.govuk-label-subsidyobjective').show();
      }

      // else if ($('#subsidyobjective-11').not(":checked")){
      //   $('.govuk-input-subsidyobjective').show();
      // $('.govuk-label-subsidyobjective').show();}

      else {
        $('.govuk-input-subsidyobjective').hide();
        $('.govuk-label-subsidyobjective').hide();

      }

    });


    $('.govuk-checkboxes__input_subsidyobjective').change(function () {
      //uncheck "select all", if one of the listed checkbox item is unchecked
      if (false == $(this).prop("checked")) { //if this item is unchecked
        $("#subsidyobjective-0").prop('checked', false); //change "select all" checked status to false
        // alert("change fn" + $('#subsidyobjective-11').is(":checked"))
        if ($('#subsidyobjective-11').is(":checked")) {

          $('.govuk-input-subsidyobjective').show();
          $('.govuk-label-subsidyobjective').show();
        }
      }

      // alert($('.govuk-checkboxes__input:checked').length );
      //check "select all" if all checkbox items are checked
      if ($('.govuk-checkboxes__input_subsidyobjective:checked').length == $('.govuk-checkboxes__input_subsidyobjective').length - 1) {
        $("#subsidyobjective-0").prop('checked', true);
        $('.govuk-input-subsidyobjective').hide();
        $('.govuk-label-subsidyobjective').hide();
      }



    });


    //****************************************************
    // checkbox select all scripts for subsidy instrument
    //****************************************************
    if (($('#subsidyinstrument-7').is(":checked")) && ($('#subsidyinstrument-0').is(":checked"))) {
      $('.govuk-input-subsidyinstrument').val('');
      $('.govuk-input-subsidyinstrument').hide();
      $('.govuk-label-subsidyinstrument').hide();
    }
    else if ($('#subsidyinstrument-7').is(":checked")) {
      $('.govuk-input-subsidyinstrument').show();
      $('.govuk-label-subsidyinstrument').show();
      // $('.govuk-input-subsidyinstrument').val('');
    }
    else {
      $('.govuk-input-subsidyinstrument').hide();
      $('.govuk-label-subsidyinstrument').hide();
      $('.govuk-input-subsidyinstrument').val('');
    }


    $("#subsidyinstrument-0").change(function () {  //"select all" change 
      $(".govuk-checkboxes__input_subsidyinstrument").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
      if ($('#subsidyinstrument-0').is(":checked")) {
        $('.govuk-input-subsidyinstrument').val('');
        $('.govuk-input-subsidyinstrument').hide();
        $('.govuk-label-subsidyinstrument').hide();
      }

    });//"select all" close

    $('#subsidyinstrument-7').change(function () {
      if ($('#subsidyinstrument-0').is(":checked")) {
        $('.govuk-input-subsidyinstrument').val('');
        $('.govuk-input-subsidyinstrument').hide();
        $('.govuk-label-subsidyinstrument').hide();
      }
      else if ($('#subsidyinstrument-7').is(":checked")) {
        // $('.govuk-input-subsidyinstrument').val('');
        $('.govuk-input-subsidyinstrument').show();
        $('.govuk-label-subsidyinstrument').show();
      }

      else {
        $('.govuk-input-subsidyinstrument').hide();
        $('.govuk-label-subsidyinstrument').hide();
        $('.govuk-input-subsidyinstrument').val('');
      }
    });

    //".checkbox" change 
    $('.govuk-checkboxes__input_subsidyinstrument').change(function () {
      //uncheck "select all", if one of the listed checkbox item is unchecked
      if (false == $(this).prop("checked")) { //if this item is unchecked
        $("#subsidyinstrument-0").prop('checked', false); //change "select all" checked status to false
        if ($('#subsidyinstrument-7').is(":checked")) {
          $('.govuk-input-subsidyinstrument').val('');
          $('.govuk-input-subsidyinstrument').show();
          $('.govuk-label-subsidyinstrument').show();
        }
      }
      // alert($('.govuk-checkboxes__input_subsidyinstrument:checked').length );
      //check "select all" if all checkbox items are checked
      if ($('.govuk-checkboxes__input_subsidyinstrument:checked').length == $('.govuk-checkboxes__input_subsidyinstrument').length - 1) {
        $("#subsidyinstrument-0").prop('checked', true);
        $('.govuk-input-subsidyinstrument').val('');
        $('.govuk-input-subsidyinstrument').hide();
        $('.govuk-label-subsidyinstrument').hide();
      }
    });

    //****************************************************
    // checkbox select all scripts for subsidy instrument
    //****************************************************

    $("#spendingsector-0").change(function () {  //"select all" change 
      $(".govuk-checkboxes__input_spendingsector").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
    });

    //".checkbox" change 
    $('.govuk-checkboxes__input_spendingsector').change(function () {
      //uncheck "select all", if one of the listed checkbox item is unchecked
      if (false == $(this).prop("checked")) { //if this item is unchecked
        $("#spendingsector-0").prop('checked', false); //change "select all" checked status to false
      }

      // alert($('.govuk-checkboxes__input_spendingsector:checked').length );
      //check "select all" if all checkbox items are checked
      if ($('.govuk-checkboxes__input_spendingsector:checked').length == $('.govuk-checkboxes__input_spendingsector').length - 1) {
        $("#spendingsector-0").prop('checked', true);

      }

    });


    // document.getElementById("myDiv").scrollIntoView();
    // $('html,body').animate({
    //   scrollTop: $(".second").offset().top
    // },
    //   'slow');
    // var element = document.getElementById("myDiv")
    // element.scrollIntoView({behavior: "smooth"});


  });

</script>



<script>
  window.saveFile = function saveFile(data_request_clientside, beis_url_publicsearch) {
    console.log(data_request_clientside);

    var api_data;
    $.ajax({
      // url: 'http://dev-beis-tp-db-public-search-service.azurewebsites.net/searchResults',
      url: beis_url_publicsearch + '/searchResults',
      type: "POST",
      headers: { 'Access-Control-Allow-Origin': '*' },
      data: data_request_clientside,
      contentType: 'application/json;charset=utf-8',
      dataType: 'text',
      success: function (response) {

        console.log(response);
        api_data = response;
        parsedResponse = JSON.parse(api_data);
        var filteredResponse = [];
        for (var i = 0; i < parsedResponse.totalSearchResults; i++) {
          filteredResponse[filteredResponse.length] = {
            "Subsidy Control (SC) Number": parsedResponse.awards[i].subsidyMeasure.scNumber,
            "Subsidy Scheme": parsedResponse.awards[i].subsidyMeasure.subsidyMeasureTitle,
            "Subsidy Award Number": parsedResponse.awards[i].awardNumber,
            "Subsidy Purpose": parsedResponse.awards[i].subsidyObjective,
            "Subsidy Type": parsedResponse.awards[i].subsidyInstrument,
            "Subsidy Element Full Amount": parsedResponse.awards[i].subsidyFullAmountExact,
            "Subsidy Element Full Amount Range": parsedResponse.awards[i].subsidyFullAmountRange,
            "Recipient Name": parsedResponse.awards[i].beneficiary.beneficiaryName,
            "Spending Region": parsedResponse.awards[i].spendingRegion,
            "Spending Sector": parsedResponse.awards[i].spendingSector,
            "Awarded Date": parsedResponse.awards[i].legalGrantingDate
          }
        }
        var data = JSON.parse(JSON.stringify(filteredResponse));
        var res = alasql('SELECT * INTO XLSX("publicsearchawards.xlsx",?) FROM ?', [data, [data]]);


      },
      error: function (error) {
        console.log("Something went wrong", error);

      }
    });
  }  //end of save file

  // $(document).ready(function () {
  //   $('body,html').animate({ scrollTop: 300 }, 1500);
  // });

</script>








<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container ">
    <%- include('../partials/banner.ejs') %>

    <main id="main-content" role="main">

      <!-- <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/homepage">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/beneficiaryname">Search subsidy awards</a>
          </li>
        </ol>
      </div> -->
      <div class="govuk-main-wrapper ">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"> -->
            <h1 class="govuk-heading-l">
              Search results
            </h1>
            <!-- </legend> -->
          </div>
          <form action="/homepage" method="GET">
            <div class="govuk-grid-column-one-third">
              <button class="govuk-button" data-module="govuk-button" style="float:right;">
                New search </button>
            </div>
          </form>
        </div>
        <label class="govuk-label">
         
          <% if(searchawards.totalSearchResults == 1)  { %>
            <b><%= searchawards.totalSearchResults %></b> subsidy award found
           <% } else { %> 
            <b><%= searchawards.totalSearchResults %></b> subsidy awards found
           <% } %>

        </label>


        <!-- *********************
      Adding filter section
      ********************* -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <!-- <a href="/hidefilter/?page=<%= current_page_active  %>" style="color : black; text-decoration: none">
            <button class=" govuk-button govuk-button--secondary ">
              Hide filters </button> </a> -->

            <a href="/hidefilter/?page=<%= current_page_active  %>" style=" text-decoration: none"
              class="govuk-button  govuk-button--secondary" name="showfiter" value="showfilt">
              Hide filters
            </a>

            <!-- <a href="/homepage" style="color : rgb(250, 245, 245); text-decoration: none"
             class="govuk-button" data-module="govuk-button">New search 
          </a> -->
            <!-- <a href="/exportexcel" style="color : black; text-decoration: none">
           <button class="govuk-button" data-module="govuk-button"> Download results </button>
          </a> -->

            <button class="govuk-button" data-module="govuk-button"
              onclick="saveFile('<%= data_request_clientside %>','<%= beis_url_publicsearch %>')">
              Download results as Excel file </button>


          </div>
          <div class="govuk-grid-column-one-third govuk-display-flex">
            <label class="govuk-grid-column-two-thirds" for="sort">
              Results per page
            </label>

            <form class="govuk-grid-column-one-third" action="/updateresultspageperroute" method="GET">
              <select class="govuk-select" id="sort" name="sort" aria-label="Results per page shown in current page"
                aria-describedby="info-message" onchange="this.form.submit()">
                <% if(frontend_totalRecordsPerPage  == 10) { %>
                <option value="10" selected>10</option>
                <% } else { %>
                <option value="10">10</option>
                <% }  %>
                <% if(frontend_totalRecordsPerPage  == 20) { %>
                <option value="20" selected>20</option>
                <% } else { %>
                <option value="20">20</option>
                <% }  %>
                <% if(frontend_totalRecordsPerPage  == 50) { %>
                <option value="50" selected>50</option>
                <% } else { %>
                <option value="50">50</option>
                <% }  %>
                <% if(frontend_totalRecordsPerPage  == 100) { %>
                <option value="100" selected>100</option>
                <% } else { %>
                <option value="100">100</option>
                <% }  %>
              </select>
            </form>
          </div>
        </div>

        <span id="info-message" style="display:none" aria-hidden="true">
          On selecting, the page will reload and display the search results</span>

        <form action="/updateresults" method="POST">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <%- include('../partials/searchobjectiveaccordion.ejs') %>
            <%- include('../partials/searchsectoraccordion.ejs') %>
            <%- include('../partials/searchinstrumentaccordion.ejs') %>
          </div>
          <div>
            <button class="govuk-button" data-module="govuk-button">
              Update results </button>
          </div>
        </form>

        <div id="myDiv"></div>
        <div class="second"></div>

        <section class="govuk-table-responsive">
          <table class="govuk-table">
            <caption class="govuk-table__caption">
              <h1 class="govuk-fieldset__heading"></h1>
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">
                  <a href="/pageroute/?page=999997" style="text-decoration: none">
                    Recipient name
                    <% if (beneficiary_arrow == "upanddown" ) { %>
                    <img id="beneficiary_updownarrow" src="/assets/images/UpDownArrow.jpg"
                      aria-hidden="Curently not sorted">
                    <% } else if (beneficiary_arrow == "updecending" ) { %>
                    <img id="beneficiary_downarrow" src="/assets/images/DownArrow.jpg"
                      aria-hidden="Currently sorted by Descending order">
                    <% } else { %>
                    <img id="beneficiary_uparrow" src="/assets/images/UpArrow.jpg"
                      aria-hidden="Currently sorted by Ascending order">
                    <% } %>

                  </a>
                </th>
                <th scope="col" class="govuk-table__header app-custom-class">Subsidy purpose</th>
                <th scope="col" class="govuk-table__header app-custom-class">Spending sector</th>
                <th scope="col" class="govuk-table__header app-custom-class">Subsidy type</th>
                <th scope="col" class="govuk-table__header app-custom-class" aria-sort="none">
                  <a href="/pageroute/?page=999998" style="text-decoration: none">
                    Subsidy date
                    <% if (legalgrantingdate_arrow == "upanddown" ) { %>
                    <img id="legalgrantingdate_updownarrow" src="/assets/images/UpDownArrow.jpg"
                      aria-hidden="Curently not sorted">
                    <% } else if (legalgrantingdate_arrow == "updecending" ) { %>
                    <img id="legalgrantingdate_downarrow" src="/assets/images/DownArrow.jpg"
                      aria-hidden="Currently sorted by Descending order">
                    <% } else { %>
                    <img id="legalgrantingdate_uparrow" src="/assets/images/UpArrow.jpg"
                      aria-hidden="Currently sorted by Ascending order">
                    <% } %>

                  </a></th>


                <th scope="col" style="text-align:left" class="govuk-table__header app-custom-class">Subsidy scheme</th>
                <th scope="col" class="govuk-table__header app-custom-class" aria-sort="none">
                  <!-- <a href="/pageroute/?page=999999" style="text-decoration: none"> -->
                  Subsidy amount
                  <!-- <% if (subsidyamount_arrow == "upanddown" ) { %>
                  <img id="subsidyamount_updownarrow" src="/assets/images/UpDownArrow.jpg " aria-hidden="Curently not sorted">
                  <% } else if (subsidyamount_arrow == "updecending" ) { %>
                  <img id="subsidyamount_downarrow" src="/assets/images/DownArrow.jpg"
                    aria-hidden="Currently sorted by Descending order">
                  <% } else { %>
                  <img id="subsidyamount_uparrow" src="/assets/images/UpArrow.jpg"
                    aria-hidden="Currently sorted by Ascending order">
                  <% } %>

                </a> -->
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% searchawards.awards.forEach(function(item) { %>
              <tr>
                <td class="govuk-table__cell"><a
                    href="/searchresultsawardroute/?page=<%=item.awardNumber %>"><%= item.beneficiary.beneficiaryName  %>
                  </a> </td>
                <td class="govuk-table__cell"><%= item.subsidyObjective %></td>
                <td class="govuk-table__cell"><%= item.spendingSector %></td>
                <td class="govuk-table__cell"><%= item.subsidyInstrument %></td>

                <td class="govuk-table__cell" style="text-align:center"><%= item.legalGrantingDate%></td>
                <!-- <td class="govuk-table__cell"><a href="#"><%= item.awardNumber  %> </a> </td> -->
                <td class="govuk-table__cell"><a
                    href="/searchresultsmeasureroute/?page=<%=item.awardNumber %>"><%= item.subsidyMeasure.subsidyMeasureTitle  %></a>
                </td>
                <% if (item.subsidyInstrument == "Tax measures (tax credit, or tax/duty exemption)") { %>
                <td class="govuk-table__cell"><%= item.subsidyFullAmountRange %></td>
                <% } else { %>
                <td class="govuk-table__cell">£<%= item.subsidyFullAmountExact %></td>
                <% } %>


              </tr>

              <% } ); %>

            </tbody>
          </table>

          <!-- ********************** -->
          <!-- Pagination starts here -->
          <!-- ********************** -->

          <div id="pagination1" class="pagination">

            <% if (pageCount > 1) { %>

            <div class="col first">
              <p class="pagination-label">
                Showing <span><%= start_record %></span> - <span><%= end_record %></span> of
                <span><%= totalrows %></span>
                records
              </p>
            </div>

            <% } %>


            <div class="col last">
              <% if (pageCount > 1) { %>

              <% if (current_page_active != 1) { %>
              <a href="/updateresultsroute/?page=1" id="paginationlink_first_page" class="first round"><img
                  id="govuk-left-arrow" src="/assets/images/govuk-left-arrow.jpg" aria-hidden="go to first page"></a>
              <a href="/updateresultsroute/?page=<%= previous_page %>" id="paginationlink_previous_page"
                class="previous round">Previous
                Page</a>
              <% } %>

              <% for (var i = start_page; i <= end_page; i++) { %>
              <% if (current_page_active != i ) { %>
              <a id="paginationlink<%= i %>" class="round btn-page" aria-label="go to page <%= i %> search results"
                href="/updateresultsroute/?page=<%= i %>"><%= i %></a>
              <% } else { %>
              <a id="paginationlink<%= i %>" class="round btn-page active"
                aria-label="go to page <%= i %> search results" href="/updateresultsroute/?page=<%= i %>"><%= i %></a>
              <% } %>
              <% } %>

              <% if (current_page_active != pageCount) { %>
              <a href="/updateresultsroute/?page=<%= next_page %>" aria-label="go to next page"
                id="paginationlink_next_page" class="next round">Next
                Page</a>
              <a href="/updateresultsroute/?page=<%= pageCount %>" id="paginationlink_last_page" class="last round"><img
                  id="govuk-right-arrow" src="/assets/images/govuk-right-arrow.jpg" aria-hidden="go to last page"></a>
              <% } %>
              <% } %>
            </div>
          </div>

        </section>
        <!-- ********************** -->
        <!-- Pagination ends here -->
        <!-- ********************** -->
        <form action="/homepage" method="POST">
          <button class="govuk-button" data-module="govuk-button">
            New search </button>
        </form>

      </div>
    </main>
    <!-- container division ends here -->
  </div>
  <!-- container division ends here -->

  <%- include('../partials/footer.ejs') %>

  <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  <script src="/assets/javascripts/accordion/govuk-frontend.js"></script>
  <script src="/assets/javascripts/accordion/example.js"></script>
</body>

</html>