<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <title>GOV.UK - Public user search page</title>
  <%- include('../partials/headercss.ejs') %>
</head>

<!--**************************************************
Gov.UK public user search - header rendering design 
**************************************************** -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <%- include('../partials/cookies-consent.ejs') %>
  <%- include('../partials/header.ejs') %>


  <div class="govuk-width-container ">
    <main id="main-content" role="main">
      <%- include('../partials/banner.ejs') %>
      <div class="govuk-main-wrapper ">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
              View subsidies awarded by UK government</h1>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">You can view the full list of active subsidy schemes and all the businesses that have
              received subsidies
              under each scheme.</p>
            <form action="/schemes" method="GET" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_show_schemes">
                View all subsidy schemes
              </button>
            </form>
            <form action="/searchresults" method="POST" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_show_results"
                name="homepage_button" value="show_results">
                View all subsidy awards
              </button>
            </form>
            <form action="/mfaawards" method="GET" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_show_results">
                View all MFA / SPEI Assistance awards
              </button>
            </form>
            <form action="/standaloneawards" method="GET" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_show_standalone">
                View all standalone subsidy awards
              </button>
            </form>
            <a aria-label="Search for subsidies awarded before 1 January 2021" class="govuk-link" target="_blank"
              href="https://ec.europa.eu/transparencyregister/public/consultation/search.do?locale=en">Search for
              subsidies awarded before 1 January 2021.</a>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!--************************************************
          Gov.UK public user search - Footer rendering design 
    ************************************************ -->

  <%- include('../partials/footer.ejs') %>
</body>

</html>