<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <title>Search for UK Subsidies home page - GOV.UK</title>
  <%- include('../partials/headercss.ejs') %>
</head>

<!--**************************************************
Gov.UK public user search - header rendering design
**************************************************** -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <%- include('../partials/cookies-consent.ejs') %>
  <%- include('../partials/header.ejs') %>


  <div class="govuk-width-container ">
    <%- include('../partials/banner.ejs') %>
    <main id="main-content" role="main">
      <div class="govuk-main-wrapper ">
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl">
              View subsidies awarded by UK public authorities
            </h1>
        </div>

        <div class="govuk-grid-row">
            <p class="govuk-body">The subsidy database holds information on subsidy schemes and subsidy awards given to businesses. 
              UK public authorities are required to upload information on subsidy schemes and subsidy awards in compliance with their obligations to the Subsidy Control Act 2022.
            </p>
            <br/>
            <div>
              <p class="govuk-heading-s">Help improve the Search for UK Subsidies</p>
              <span class="govuk-body">Take our short survey – it takes no more than 15 minutes, and your feedback will help shape future improvements.</span>
              <br>
              <a aria-label="User research survey" class="govuk-link govuk-body" target="_blank"
              href="https://ditresearch.eu.qualtrics.com/jfe/form/SV_7R019EXqGJHPVMa">
              Take the survey (opens in a new tab)
              </a>
            </div>

            <form action="/standaloneawards" method="GET" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_view_all_standalone_awards">
                View all standalone subsidy awards
              </button>
            </form>

            <form action="/schemes" method="GET" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_view_all_schemes">
                View all subsidy schemes
              </button>
            </form>

            <form action="/searchresults" method="POST" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_view_all_awards"
                name="homepage_button" value="show_results">
                View all subsidy awards made under schemes
              </button>
            </form>
            
            <br/>

            <p class="govuk-label">
              You can answer a number of questions to search for particular subsidies.
            </p>

            <form action="/beneficiaryname" method="POST">
              <button class="govuk-button" data-module="govuk-button" id="homepage_button_start_search"
                name="homepage_button" value="start_now">
                Start search
              </button>
              <p></p>
            </form>

            <form action="/mfaawards" method="GET" class="govuk-padding-top-2">
              <button class="govuk-button " data-module="govuk-button" id="homepage_button_view_all_mfa_spei">
                View all MFA / SPEI Assistance awards
              </button>
            </form>

            <p class="govuk-body">
              Minimal financial assistance (MFA) are low-value subsidies that do not need to comply with the subsidy control principles. Businesses cannot receive more than £315,000 in MFA over three financial years.
            </p>
            <p class="govuk-body">
              Services of Public Economic Interest (SPEI) are essential services provided by a public authority to the public which would not be provided under normal market conditions. SPEI may be considered to constitute SPEI Assistance (SPEIA) if the total amount of minimal or SPEI financial assistance given to a business does not exceed £725,000 over the three financial years.
            </p>

            <div>
              <a aria-label="Search for awards under EU State aid rules" class="govuk-link govuk-body" target="_blank"
                href="https://webgate.ec.europa.eu/competition/transparency/public?lang=en">
                Search for awards under EU State aid rules.
              </a>
            </div>

            </br>

            <div>
              <a aria-label="Search for awards under EU State aid rules" class="govuk-link govuk-body" target="_blank"
                href="https://competition-cases.ec.europa.eu/search?caseInstrument=SA&caseMemberState=~GBR&sortField=caseLastDecisionDate&sortOrder=DESC">
                Search the EU State aid case register
              </a>
            </div>
        </div>
      </div>
    </main>
  </div>

  <!--************************************************
          Gov.UK public user search - Footer rendering design
    ************************************************ -->

  <%- include('../partials/footer.ejs') %>
</body>

</html>