<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <title>GOV.UK - Public user search page</title>
  <%- include('../partials/headercss.ejs') %>
</head>

<!--**************************************************
Gov.UK public user search - header rendering design
**************************************************** -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <%- include('../partials/cookies-consent.ejs') %>
  <%- include('../partials/header.ejs') %>


  <div class="govuk-width-container ">
    <%- include('../partials/banner.ejs') %>
    <main id="main-content" role="main">
      <div class="govuk-main-wrapper ">
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl">
              View subsidies awarded by UK public authorities
            </h1>
        </div>

        <div class="govuk-grid-row">
            <p class="govuk-body">The subsidy database holds information on subsidy schemes and subsidy awards given to businesses. 
              UK public authorities are required to upload information on subsidy schemes and subsidy awards in compliance with their obligations to the Subsidy Control Act 2022.
            </p>

            <p class="govuk-body">You can use the Search for UK subsidies service to find all:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/searchresults" class="govuk-link">standalone subsidy awards and subsidy awards made under schemes</a></li>
              <li><a href="/schemes" class="govuk-link">subsidy schemes</a></li>
              <li><a href="/mfaawards" class="govuk-link">MFA/SPEI awards</a></li>
            </ul>

            <p class="govuk-body">
              Minimal financial assistance (MFA) are low-value subsidies that do not need to comply with the subsidy control principles.
            </p>
            <p class="govuk-body">
              Services of Public Economic Interest (SPEI) are essential services provided by a public authority to the public which would not be provided under normal market conditions.
            </p>

            <div>
              <h2 class="govuk-heading-m">Links to the EU Database</h2>
              <a aria-label="Search for awards under EU State aid rules" class="govuk-link govuk-body" target="_blank"
                href="https://webgate.ec.europa.eu/competition/transparency/public?lang=en">
                Search for awards under EU State aid rules.
              </a>
              <br/>
              <a aria-label="Search for awards under EU State aid rules" class="govuk-link govuk-body" target="_blank"
                href="https://competition-cases.ec.europa.eu/search?caseInstrument=SA&caseMemberState=~GBR&sortField=caseLastDecisionDate&sortOrder=DESC">
                Search the EU State aid case register
              </a>
            </div>
        </div>
      </div>
    </main>
  </div>

  <!--************************************************
          Gov.UK public user search - Footer rendering design
    ************************************************ -->

  <%- include('../partials/footer.ejs') %>
</body>

</html>