<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scheme <%= searchmeasuredetails.subsidyMeasure.scNumber %> - Search for UK Subsidies - Public user view subsidy scheme details - GOV.UK</title>
  <%- include('../partials/headercss.ejs') %>
  <style>
    .govuk-inative-status {
      float: left;
      width: 100%;
      padding: 1%;
    }
  </style>
</head>

<body class="govuk-template__body app-example-page">
  <%- include('../partials/cookies-consent.ejs') %>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container ">

    <main id="main-content" role="main">
      <%- include('../partials/banner.ejs') %>

      <div class="govuk-main-wrapper ">
        <a href="/searchresults" class="govuk-back-link" aria-label="Back to search results page">Back</a>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"> -->
            <h1 class="govuk-heading-l">
              Subsidy scheme details
              <!-- <%= searchmeasuredetails.subsidyMeasure.subsidyMeasureTitle%> -->
            </h1>
            <!-- </legend> -->
          </div>

          <div class="govuk-grid-column-one-quarter">
            <!-- <form action="/homepage" method="POST" >         -->
            <button class="govuk-button_cancel_last_xl" data-module="govuk-button" onclick="window.print()">
              Print page </button>
            <!-- </form>   -->
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label">
            Overview of the subsidy scheme and the local authority that awarded it.
          </label>
        </div>
        <!-- Reject Message Block -->

        <% if( searchmeasuredetails.subsidyMeasure.status == "Inactive") { %>
        <div class="govuk-form-group app-example govuk-inative-status">
          <div class="app-example__toolbar">
            <label>This scheme is not active</label>
          </div>
        </div>

        <!-- <div class="govuk-form-group app-example">
        <div class="app-example__toolbar">
          <label>This scheme is not active</label>
        </div> -->
        <!-- <div class="app-example__frame">
          <% if(searchmeasuredetails.rejectReason) { %>
          <p> <%= searchmeasuredetails.rejectReason %></p>
          <% } else { %>
          <p>The subsidy scheme deleted reason not mentioned </p>
          <% } %>
        </div> -->
        <!-- </div> -->

        <% } %>
        <!-- Reject Message Block -->
        <ul class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy control number
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.scNumber %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy scheme name
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.subsidyMeasureTitle%>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy scheme status
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.status %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Public authority name
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.grantingAuthorityName %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy scheme description
            </dt>
            <dd class="govuk-summary-list__value render-newlines"><%= searchmeasuredetails.subsidyMeasure.subsidySchemeDescription %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Legal basis
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.legalBasis.legalBasisText %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weblink to public authority text of subsidy
            </dt>
            <dd class="govuk-summary-list__value">
              <% if(searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink.includes('https://') || searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink.includes('http://')) { %>
              <a aria-label="Weblink to public authority" target="_blank"
                href="<%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>">
                <%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>

              </a>
              <% } else { %>
              <a aria-label="Weblink to public authority" target="_blank"
                href="https://<%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>">
                <%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>
              </a>
              <% } %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weblink description
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLinkDescription %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Budget or amount
            </dt>
            <dd class="govuk-summary-list__value">
              £<%= searchmeasuredetails.subsidyMeasure.budget %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Maximum amount given under this scheme
            </dt>
            <dd class="govuk-summary-list__value">
              <% if (searchmeasuredetails.subsidyMeasure.maximumAmountUnderScheme == null) { %>
                NA
              <% } else { %>
                <%= searchmeasuredetails.subsidyMeasure.maximumAmountUnderScheme %>
              <% } %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Confirmation date
            </dt>
            <dd class="govuk-summary-list__value">
              <% if (searchmeasuredetails.subsidyMeasure.confirmationDate != null) { %>
                <%= searchmeasuredetails.subsidyMeasure.confirmationDate %>
              <% } else { %>
                NA
              <% } %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              <% if (searchmeasuredetails.subsidyMeasure.duration == 0) { %>
                <%= searchmeasuredetails.subsidyMeasure.duration %> days
              <% } else { %>
                <%= searchmeasuredetails.subsidyMeasure.duration %> days from
                <%= searchmeasuredetails.subsidyMeasure.startDate %> to
                <%= searchmeasuredetails.subsidyMeasure.endDate %>
              <% } %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.startDate %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date published
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.publishedMeasureDate %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date created
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.createdTimestamp%>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date last modified
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.lastModifiedTimestamp%>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Spending Sectors
            </dt>
            <dd class="govuk-summary-list__value">
                <% if(typeof spendingSectorArray !== 'undefined') { %>
                  <ul class="govuk-list govuk-list--bullet">
                      <% spendingSectorArray.forEach(function(item) { %>
                      <li> <%=item %> </li>
                      <% }); %>
                  </ul>
                  <% } else { %>
                      NA
                   <% } %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Purpose
            </dt>
            <dd class="govuk-summary-list__value">
                <% if(typeof purposeArray !== 'undefined') { %>
                  <ul class="govuk-list govuk-list--bullet">
                      <% purposeArray.forEach(function(item) { %>
                      <li> <%=item %> </li>
                      <% }); %>
                  </ul>
                  <% } else { %>
                      NA
                   <% } %>
            </dd>
          </div>
        </ul>


        <form action="/searchresults" method="GET">
          <div>
            <button class="govuk-button" data-module="govuk-button">
              Back to search results </button>
          </div>
        </form>
      </div>
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>

</html>