<!doctype html>
<html lang="en">

<head>
    <title>GOV.UK - Public user search page</title>
</head>

<!--**************************************************
Gov.UK public user search - header rendering design 
**************************************************** -->
<%- include('../partials/header.ejs') %>
<link href="/assets/stylesheet/style.css" rel="stylesheet" media="all" />

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <div class="govuk-width-container ">

        <%- include('../partials/banner.ejs') %>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <form action="/" method="POST">
                <!--************************************
               Gov.UK public user search - Body design 
               ************************************ -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="beneficiary_name-hint">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds govuk-form-group">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                        Search the subsidy transparency database
                                    </h1>
                                </legend>
                            </div>
                            <div class="govuk-grid-column-two-thirds govuk-form-group">
                                <p>Keyword Search</p>
                                <input class="govuk-input govuk-!-width-full"
                                    placeholder="Search name of recipient, subsidy purpose,name or type" name=""
                                    type="text">
                            </div>
                            <div class="govuk-grid-column-one-third govuk-form-group">
                                <p>Sort results</p>
                                <select class="govuk-select govuk-!-width-full" id="sort" name="sort">
                                    <option value="" disabled>Recipient name</option>
                                    <option value="">Recipient name A-Z</option>
                                    <option value="">Recipient name A-Z</option>
                                    <option value="">Recipient name Z-A</option>
                                    <option value="">Subsidy date newest</option>
                                    <option value="">Subsidy date oldest</option>
                                    <option value=""> Subsidy amount lowest to highest</option>
                                    <option value="">Subsidy amount highest to lowest</option>
                                </select>
                            </div>
                            <p class="govuk-grid-column-full">We've found <span class="govuk-font-bold">46</span>
                                subsidy awards</p>
                            <div class="govuk-grid-column-two-thirds">
                                <button class="govuk-button" data-module="govuk-button">
                                    Update results
                                </button>
                                <button class="govuk-button" data-module="govuk-button">
                                    Clear filters
                                </button>
                                <button class="govuk-button" data-module="govuk-button">
                                    Download results
                                </button>
                            </div>
                            <div class="govuk-grid-column-one-third govuk-form-group" style="text-align: right;">
                                <label>Results per page</label>
                                <select class="govuk-select" id="sort" name="sort">
                                    <option value="">10</option>
                                    <option value="">20</option>
                                    <option value="">50</option>
                                    <option value="">100</option>
                                </select>
                            </div>
                            <div class="govuk-grid-column-one-third govuk-form-group">
                                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                                    <%- include('../partials/searchobjectiveaccordion.ejs') %>
                                    <%- include('../partials/searchsectoraccordion.ejs') %>
                                    <%- include('../partials/searchinstrumentaccordion.ejs') %>
                                </div>
                                <button class="govuk-button" data-module="govuk-button">Update results</button>
                                <button class="govuk-button" data-module="govuk-button">Clear filter</button>
                            </div>
                            <div class="govuk-grid-column-two-thirds">
                                <div class="govuk-grid-row govuk-border-bottom">
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Recipient name &nbsp;</label>
                                        <span><a href="#">AA Animation Limited</a></span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy name &nbsp;</label>
                                        <span><a href="#">Air discount scheme</a></span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy purpose &nbsp;</label>
                                        <span>Research and development</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Sector &nbsp;</label>
                                        <span>Wholesale and retail trade; repair of motor vehicles and
                                            motorcycles​</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy type &nbsp;</label>
                                        <span>Tax measures (tax credit, or tax/duty exemption)</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy date &nbsp;</label>
                                        <span>26 April 2019</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy amount &nbsp;</label>
                                        <span>£632,000</span>
                                    </div>
                                </div>
                                <div class="govuk-grid-row govuk-border-bottom">
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Recipient name &nbsp;</label>
                                        <span><a href="#">Abbey Productions Limited</a></span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy name &nbsp;</label>
                                        <span><a href="#">High-end television tax relief - United Kingdom…</a></span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy purpose &nbsp;</label>
                                        <span>Energy efficiency</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Sector &nbsp;</label>
                                        <span>Agriculture, forestry and fishing​</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy type &nbsp;</label>
                                        <span>Equity</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy date &nbsp;</label>
                                        <span>19 March 2019</span>
                                    </div>
                                    <div class="govuk-grid-column-full govuk-subsidyresult">
                                        <label>Subsidy amount &nbsp;</label>
                                        <span>£470,000</span>
                                    </div>
                                </div>

                            </div>
                            <label class="govuk-grid-column-full">Showing <span>1-10</span> of <span
                                    class="govuk-bold">46</span> records</label>
                        </div>
                    </fieldset>

            </form>
        </main>
    </div>

    <!--************************************************
Gov.UK public user search - Footer rendering design 
************************************************ -->

    <%- include('../partials/footer.ejs') %>

    <script type="text/javascript" src="/assets/javascripts/example.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script type="text/javascript" src="/assets/javascripts/govuk-frontend-radio.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
</body>

</html>