<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Public user search page</title>
</head>
    <!-- <%- include('../partials/header.ejs') %> -->

    <%- include('../partials/headersubsidy.ejs') %>

 
    
    <div class="govuk-width-container ">
      <%- include('../partials/banner.ejs') %>
      <main class="govuk-main-wrapper " id="main-content" role="main">       
        <form action="/homepage" method="POST" > 
       <div class="govuk-breadcrumbs ">
         <ol class="govuk-breadcrumbs__list">
           <li class="govuk-breadcrumbs__list-item">
             <a class="govuk-breadcrumbs__link" href="/homepage">Home</a>
           </li>
           <li class="govuk-breadcrumbs__list-item">
             <a class="govuk-breadcrumbs__link" href="/beneficiaryname">Search subsidy awards</a>
           </li>
         </ol>
       </div>
     
       <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Search results
        </h1>
      </legend>

      <section>
       <table class="govuk-table">
        <caption class="govuk-table__caption"><h1 class="govuk-fieldset__heading"></h1></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Beneficiary Name</th>
            <th scope="col" class="govuk-table__header app-custom-class" >Subsidy measure title</th>
            <th scope="col" class="govuk-table__header app-custom-class" aria-sort="none">Subsidy Amount(£)</th>
            <th scope="col" class="govuk-table__header app-custom-class">Subsidy objective</th>         
            <th scope="col" class="govuk-table__header app-custom-class">Subsidy instrument</th>
            <th scope="col" class="govuk-table__header app-custom-class">Spending Sector</th>
            <th scope="col" class="govuk-table__header app-custom-class" aria-sort="none">Legal granting Date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% searchawards.awards.forEach(function(item) { %>
            <tr>
              <td class="govuk-table__cell"><%= item.beneficiary.beneficiaryName  %></td>
              <td class="govuk-table__cell"><%= item.subsidyMeasure.subsidyMeasureTitle  %></td>
              <% if (item.subsidyInstrument == "Tax measures (tax credit, or tax/duty exemption)") { %>
              <td class="govuk-table__cell"><%= item.subsidyFullAmountRange %></td> 
              <% } else { %>  
              <td class="govuk-table__cell"><%= item.subsidyFullAmountExact %></td>  
              <% } %>
              <td class="govuk-table__cell"><%= item.subsidyObjective %></td> 
              <td class="govuk-table__cell"><%= item.subsidyInstrument %></td> 
              <td class="govuk-table__cell"><%= item.spendingSector %></td> 
              <td class="govuk-table__cell"><%= item.legalGrantingDate%></td> 
             
            </tr>
  
            <% } ); %>
   
        </tbody>
      </table>
 
      <!-- ********************** -->
      <!-- Pagination starts here -->
      <!-- ********************** -->

     
        <!-- <div class="col first">
            <p class="pagination-label">
                Viewing <span>1-10</span> of <span>36</span>
            </p>
        </div> -->
        <!-- <div class="col last">
         
            <a href="#" id="paginationlink" class="first round"><span style='font-size:20px;'>&#8592;</span></a>
            <a href="#" id="paginationlink" class="previous round">Previous Page</a>
            <a href="#" id="paginationlink" class="round btn-page active">1</a>
            <a href="#" id="paginationlink" class="round btn-page">2</a>
            <a href="#" id="paginationlink" class="round btn-page">3</a>
            <a href="#" id="paginationlink" class="round btn-page">4</a>
            <a href="#" id="paginationlink" class="next round">Next Page</a>
            <a href="#" id="paginationlink" class="last round"><span style='font-size:20px;'>&#8594;</span></a>
        </div> -->
       
          <div id="pagination1" class="pagination">
 
        <div class="col first">
          <p class="pagination-label">
              Viewing <span><%= start_record %></span> - <span><%= end_record %></span> of <span><%= totalrows %></span>
          </p>
         </div>

          <div class="col last">
            <a href="/pageroute/?page=1" id="paginationlink" class="first round"><span style='font-size:20px;'>&#8592;</span></a>
            <a href="/pageroute/?page=<%= previous_page %>" id="paginationlink" class="previous round">Previous Page</a>
        
              <% if (pageCount > 1) { %>
              
                  <% for (var i = 1; i <= pageCount; i++) { %>
                    <% if (current_page_active != i ) { %>
                    <a id="paginationlink" class="round btn-page" href="/pageroute/?page=<%= i %>"><%= i %></a>
                    <% } else { %>
                      <a id="paginationlink" class="round btn-page active" href="/pageroute/?page=<%= i %>"><%= i %></a>
                      <% } %> 
                    <% } %>
                  <% } %>

                  <a href="/pageroute/?page=<%= next_page %>" id="paginationlink" class="next round">Next Page</a>
                  <a href="/pageroute/?page=<%= pageCount %>" id="paginationlink" class="last round"><span style='font-size:20px;'>&#8594;</span></a>
             
           
        </div>
       </div>
      
        
     
        
      </section>
     <!-- ********************** -->
      <!-- Pagination ends here -->
      <!-- ********************** -->
  
     
        
        <div>
        
            <button class="govuk-button" data-module="govuk-button">
            Try another search </button>
              
        </div>
      </form>  

      </main>
    </div>

      <%- include('../partials/footer.ejs') %>

</html>
    