<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Public user search subsidy scheme details page</title>
  <%- include('../partials/headercss.ejs') %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
  <script>
    // window.dataLayer = window.dataLayer || [];

    // function gtag() {
    //   dataLayer.push(arguments);
    // }
    // gtag('js', new Date());
    // gtag('config', 'UA-145652997-21');
  </script>
  <style>
    .govuk-inative-status {
      float: left;
      width: 100%;
      padding: 1%;
    }
  </style>
</head>

<body class="govuk-template__body app-example-page">
  <%- include('../partials/cookies-consent.ejs') %>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container ">

    <main id="main-content" role="main">
      <%- include('../partials/banner.ejs') %>

      <div class="govuk-main-wrapper ">
        <a href="/searchresults" class="govuk-back-link" aria-label="Back to search results page">Back</a>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"> -->
            <h1 class="govuk-heading-l">
              Subsidy scheme details
              <!-- <%= searchmeasuredetails.subsidyMeasure.subsidyMeasureTitle%> -->
            </h1>
            <!-- </legend> -->
          </div>

          <div class="govuk-grid-column-one-quarter">
            <!-- <form action="/homepage" method="POST" >         -->
            <button class="govuk-button_cancel_last_xl" data-module="govuk-button" onclick="window.print()">
              Print page </button>
            <!-- </form>   -->
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label">
            Overview of the subsidy scheme and the local authority that awarded it.
          </label>
        </div>
        <!-- Reject Message Block -->

        <% if( searchmeasuredetails.subsidyMeasure.status == "Inactive") { %>
        <div class="govuk-form-group app-example govuk-inative-status">
          <div class="app-example__toolbar">
            <label>This scheme is not active</label>
          </div>
        </div>

        <!-- <div class="govuk-form-group app-example">
        <div class="app-example__toolbar">
          <label>This scheme is not active</label>
        </div> -->
        <!-- <div class="app-example__frame">
          <% if(searchmeasuredetails.rejectReason) { %>
          <p> <%= searchmeasuredetails.rejectReason %></p>
          <% } else { %>
          <p>The subsidy scheme deleted reason not mentioned </p>
          <% } %>
        </div> -->
        <!-- </div> -->

        <% } %>
        <!-- Reject Message Block -->
        <ul class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy scheme name
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.subsidyMeasureTitle%>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy control number
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.scNumber %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy scheme status
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.status %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Granting authority name
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.grantingAuthorityResponse.grantingAuthorityName %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Legal basis
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.legalBasis.legalBasisText %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weblink to granting authority text of subsidy
            </dt>
            <dd class="govuk-summary-list__value">
              <% if(searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink.includes('https://') || searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink.includes('http://')) { %>
              <a aria-label="Weblink to granting authority" target="_blank"
                href="<%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>">
                <%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>

              </a>
              <% } else { %>
              <a aria-label="Weblink to granting authority" target="_blank"
                href="https://<%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>">
                <%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLink %>
              </a>
              <% } %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weblink description
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.gaSubsidyWebLinkDescription %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Case type
            </dt>
            <dd class="govuk-summary-list__value">
              <% if (searchmeasuredetails.subsidyMeasure.adhoc == false) { %>
              Regular case
              <% } else { %>
              Ad hoc Case
              <% } %>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Budget or amount
            </dt>
            <dd class="govuk-summary-list__value">
              £<%= searchmeasuredetails.subsidyMeasure.budget %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.duration %> Days from 
              <%= searchmeasuredetails.subsidyMeasure.startDate %> to
              <%= searchmeasuredetails.subsidyMeasure.endDate %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notification or registration date
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.startDate %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date published
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.publishedMeasureDate %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date & time created
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.createdTimestamp%>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date & time last modified
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.lastModifiedTimestamp%>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Created by
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.createdBy%>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Approved by
            </dt>
            <dd class="govuk-summary-list__value">
              <%= searchmeasuredetails.subsidyMeasure.approvedBy%>
            </dd>
          </div>
        </ul>


        <form action="/searchresults" method="GET">
          <div>
            <button class="govuk-button" data-module="govuk-button">
              Back to search results </button>
          </div>
        </form>
      </div>
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>

</html>